<div class="banner">
  <%= image_tag Association.first.banner.url %>
  <div class="title">
  	<div class="text">Delftse Studenten Jazz Vereniging</div>
  	<div class="groover">Groover</div>
  </div>
</div>