<% content_for :contactmenu do %>
  <% if can? :new, :band %>
    <li class="nav-item"><%= link_to 'Aanpassen', edit_contact_path, class: 'sub-nav-link' %></li>
  <% end %>
<% end %>

<div class = "paddedcontainer-large">
	<h1>Contact</h1>
	<p><%= @contact.content.html_safe %></p>
</div>
