.combosidebar {
  background: #0d192a;
  border: 1px solid darken(#0d192a, 5%);
  padding: 15px;
}

.combosidebar:not(:first-of-type) {
  margin-top: 15px;
}

.comboblock {
	width: 31.4%;
	height: 380px;
	float: left;
	position: relative;
	margin-left: 15px;
	margin-right: 15px;
	box-sizing: border-box;

	display: block;
	padding: 0px;
	margin-bottom: 22px;
	line-height: 1.428571429;
	background-color: #0d192a;
	border: 1px solid #070d17;
	border-radius: 0px;
	-webkit-transition: border 0.2s ease-in-out;
	-o-transition: border 0.2s ease-in-out;
	transition: border 0.2s ease-in-out;

	color: #FFFFFF;

	overflow: hidden;
}

.comboblockoverlay {
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.25);
	z-index: 2;
	cursor: pointer;
	padding-right:15px;
}

.comboblockoverlay:hover {
	background-color: rgba(0,0,0,0);
}

.comboblockoverlay, .comboblockoverlay:hover, .comboblockoverlay:active {
	-o-transition: .3s;
	-ms-transition: .3s;
	-moz-transition: .3s;
	-webkit-transition: .3s;
	transition: .3s;
}

.comboblock img {
  min-width: 100%;
  max-height: 40vh;
  object-fit: cover;
}

.combotext {
	position: absolute;
	display: block;

	color: #ffffff;

	bottom: 0px;
	left: 0px;

	padding: 15px;
}