.devisecontainer {
  background: #0d192a;
  border: 1px solid darken(#0d192a, 5%);
  margin: 20vh auto 0 auto;
  padding: 15px;
  text-align: center;
  max-width: 500px;
}

.devisecontainer .form-control {
  background: #172a44;
}
