.thumbnail.primary {
  border: 0;
}

.thumbnail.primary .caption {
  padding: 25px 50px 25px 50px;
}

.thumbnail.primary img {
  min-width: 100%;
  max-height: 40vh;
  object-fit: cover;
}

.thumbnail img {
  min-width: 100%;
  max-height: 40vh;
  object-fit: cover;
}

.banner {
	position: relative;
	text-align: center;
	color: white;
}

.banner img {

	min-width: 100%;
  	max-height: 100vh;
  	object-fit: cover;
}

.title {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	width: 100%;

	font-weight: 300;

	background-color: rgba(30,30,30,0.35)
}

.title .text {
	font-size: 48px;
}

.title .groover {
	font-size: 68px;
	font-weight: 400;
}

.containernews {
  max-width: 800px;
}